<!-- main.hbs-->

<!DOCTYPE html>
<link rel="stylesheet" href="/css/styles.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases: Penguins</title>
</head>
<body>

    <header>
        <h1>Penguin Conservation Center</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/shows">Shows</a>
        <a href="/penguins">Penguins</a>
        <a href="/employees">Employees</a>
    </nav>  

    {{{body}}}

<footer>
<p>2023, Justyn Shelby and Michael Wilson</p>
</footer>

</body>
</html>
