<!-- index.hbs -->
<main>
    <h2>About Us</h2>
        <p>Our penguin conservation center aims to preserve penguins primarily through education. Our center has 4 spacious habitats, housing 24 total penguins (6 per habitat). We also have 10 employees that manage the habitats and educational shows. We have one show per week (52 shows per year). A database is necessary to keep track of habitats where penguins are housed, which shows are scheduled and where, and which shows require which penguins and employees.
    </p>
</main>
